<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
   </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="cps_db" connectionString="server=192.168.0.78;user id=root;password=123456;persistsecurityinfo=True;database=cps_db" providerName="MySql.Data.MySqlClient" />-->
    <add name="cps_db" connectionString="data source=39.104.66.176;initial catalog=cps_db;persist security info=True;user id=sa;password=sfd9UM%!$r;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  
    <add name="ManagerConnection" connectionString="Data Source=39.104.66.176;Initial Catalog=WebMonter_Manager_New;User ID=sa;Password=sfd9UM%!$r;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="HistoryConnection" connectionString="Data Source=39.104.66.176;Initial Catalog=WebMonter_History_New;User ID=sa;Password=sfd9UM%!$r;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="charging_queue_name" value="charging_queue_name" />

    <add key="serverIP" value="192.168.0.201"/>
    <add key="serverPort" value="2222"/>

    <add key="message_from_http_channel" value="message_from_http_channel" />
    <add key="message_from_tcp_channel" value="message_from_tcp_channel" />

    <add key="StationContainerKey" value="StationContainer"/>
    <add key="ChargingPileContainerKey" value="ChargingPileContainer"/>
  </appSettings>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
</startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
