<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net451" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net452" />
  <package id="MySql.Data" version="6.10.4" targetFramework="net451" requireReinstallation="true" />
  <package id="MySql.Data.Entity" version="6.10.4" targetFramework="net451" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net452" />
  <package id="RabbitMQ.Client" version="5.0.1" targetFramework="net452" />
  <package id="StackExchange.Redis" version="1.2.6" targetFramework="net452" />
  <package id="Topshelf" version="4.0.3" targetFramework="net452" />
  <package id="Topshelf.Log4Net" version="4.0.3" targetFramework="net452" />
</packages>