<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="appInsGroup">
      <section name="appIns" type="CPS.DaemonService.AppInstance, CPS.DaemonService" />
    </sectionGroup>
  </configSections>
  
  <appInsGroup>
    <appIns Name="TestProject.Console" Desc="TestProject" StartupPath="E:\CSharp\ChargingPileService\TestProject.Console\bin\Debug\TestProject.Console.exe" MonitorFrequence="5" />
  </appInsGroup>
</configuration>