<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MessageConfig" type="CPS.MessageSystem.MessageConfiguration, CPS.MessageSystem" requirePermission="false"/>
  </configSections>

  <MessageConfig AliAccessKeyId="LTAI8WvkvOREy741"
                 AliAccessKeySecret="GEe7u89wEHwP89tJqBsLVv5vzRl5Ly"
                 AliRegionId="cn-beijing" 
                 AliSignName="充电桩服务" 
                 AliTemplateCode="SMS_94190001"
                 AliTemplateParam="code"
                 JGPushAppKey="4c798aa0aa44d00644e8e2b2"
                 JGPushMasterSecret="4279750f0e12e395a1f8483d" />
</configuration>