<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="RedisConfig" type="CPS.Infrastructure.Redis.RedisConfiguration, CPS.Infrastructure"/>
  </configSections>

  <RedisConfig ServerHost="127.0.0.1:6379"
               MaxPoolSize="100"
               AutoStart="true"
               LocalCacheTime="180"
               RecordeLog="false"
               />
</configuration>