<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="appInsGroup">
      <section name="appIns" type="CPS.DaemonService, CPS.DaemonService" />
    </sectionGroup>
  </configSections>
  
  <appInsGroup>
    <appIns name="" key="" startupPath="" />
  </appInsGroup>
</configuration>