<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="StationContainerKey" value="StationContainer"/>
    <add key="ChargingPileContainerKey" value="ChargingPileContainer"/>
  </appSettings>
  <connectionStrings configSource="ShareSetting.config">
    <!--<add name="ManagerConnection" connectionString="Data Source=39.104.66.176;Initial Catalog=WebMonter_Manager;User ID=sa;Password=123456;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="HistoryConnection" connectionString="Data Source=39.104.66.176;Initial Catalog=WebMonter_History;User ID=sa;Password=123456;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
